* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  background: #000;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #111;
}

header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

/* CARDS */
.card {
  background: #0d0d0d;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #1a1a1a;
}

.card h2 {
  margin-top: 0;
  font-weight: bold;
}

/* BOTONES */
.btn {
  display: inline-block;
  padding: 14px 22px;
  margin-top: 12px;
  border-radius: 8px;
  background: #1e90ff;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background: #187bcd;
}

/* BOTONES ESPECIALES */
.btn.primary {
  background: #1e90ff;
}

.btn.secondary {
  background: #2563eb;
}

/* PREVIEW */
.preview-box {
  max-width: 420px;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #222;
}

.preview-box img {
  width: 100%;
  display: block;
}


/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #aaa;
  border-top: 1px solid #111;
}

